github "krzyzanowskim/CryptoSwift" "0.14.0"
github "onevcat/Kingfisher" "5.1.0"
github "SwiftyBeaver/SwiftyBeaver" "1.6.1"
github "kishikawakatsumi/KeychainAccess" "v3.1.2"
github "SVProgressHUD/SVProgressHUD" "2.2.5"
github "ninjaprox/NVActivityIndicatorView" "4.6.1"
github "radex/SwiftyUserDefaults" "4.0.0-alpha.1"
github "bizz84/SwiftyStoreKit" "0.14.2"
github "SnapKit/SnapKit" "4.2.0"
github "malcommac/Hydra" "1.2.1"
github "realm/realm-cocoa" "v3.13.1"
github "SwiftyJSON/SwiftyJSON" "4.0.0"
