github "krzyzanowskim/CryptoSwift"
github "onevcat/Kingfisher"
github "SwiftyBeaver/SwiftyBeaver"
github "kishikawakatsumi/KeychainAccess"
github "SVProgressHUD/SVProgressHUD" "2.2.5"
github "ninjaprox/NVActivityIndicatorView"
github "radex/SwiftyUserDefaults"
github "SnapKit/SnapKit"
github "malcommac/Hydra"
github "realm/realm-cocoa"
github "SwiftyJSON/SwiftyJSON"
