@charset "UTF-8";

.base {
  display: block;
  margin: 0px;
}

.mt10 {
  margin-top: 10px;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}

.content {
  margin: 10px;
}

.message {
  display: inline-block;
  color: #333;
  background: #fff;
  border: 2px solid #5F4B8B;
  line-height: 1.3em;
}
.message.user {
  border-radius: 30px 30px 30px 0px;
}
.message.system {
  border-radius: 30px 30px 0px 30px;
}
.data {
  margin: 10px;
}

.send-message {
  position: fixed;
  left: 10px;
  width: calc(100% - 20px);
  bottom: 10px;
}
.wrapper {
  display: flex;
}
.wrapper textarea {
  background: white;
  flex: 1 1 auto;
}